.leaguesTable thead tr {
  background-color: var(--darkBlue);
  color: #ffffff;
  text-align: left;
}

.leaguesTable th,
.leaguesTable td {
  padding: 1rem 2rem;
}
.leaguesTable th {
  font-size: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.leaguesTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  font-size: 1rem;
}

.leaguesTable tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

.leaguesTable tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.leaguesTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.leaguesTable tbody tr:last-of-type {
  border-bottom: 1px solid rgb(43, 18, 18);
}

.leaguesTable tbody tr:hover {
  border-bottom: 1px solid #dddddd;
  color: white;
  background-color: rgb(155, 164, 164);
}

.leaguesTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 14px;
}

.whiteContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.league {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.flag {
  width: 35px;
  height: 20px;
}
