.player {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.playerMenu {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: -1rem;
  border-top: 1px solid rgb(223, 223, 223);
  padding: 0.5rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.playerMenuItem {
  cursor: pointer;
  font-weight: 600;
}

.whiteContainerTitle {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}
.whiteContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
}
.resultDate {
  display: flex;
  align-items: flex-end;
}

.teamsDateContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.score {
  font-weight: 600;
}

.winner {
  font-weight: 600;
}

.scoreboardTable thead tr {
  background-color: rgb(218, 218, 218);
  color: #272727;
  text-align: left;
}

.scoreboardTable th,
.scoreboardTable td {
  padding: 0.5rem 2rem;
}
.scoreboardTable th {
  font-size: 1rem;
  font-weight: 400;
  font-size: 13px;
}

.scoreboardTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.scoreboardTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.scoreboardTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.scoreboardTable tbody tr:last-of-type {
  border-bottom: 1px solid var(--darkGreen);
}

.scoreboardTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 14px;
}

.playerInfo {
  display: flex;
  gap: 1rem;
}
.basicInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.playerImage {
  width: 150px;
  height: 200px;
  border-radius: 1rem;
}
