.player {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.playerMenu {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: -1rem;
  border-top: 1px solid rgb(223, 223, 223);
  padding: 0.5rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

.playerMenuItem {
  cursor: pointer;
  font-weight: 600;
  color: #555454;
}

.whiteContainerTitle {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}
.whiteContainer {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
}
.resultDate {
  display: flex;
  align-items: flex-end;
}

.teamsDateContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.score {
  font-weight: 600;
}

.winner {
  font-weight: 600;
}

.engagamentsTable thead tr {
  background-color: rgb(218, 218, 218);
  color: #272727;
  text-align: left;
}

.engagamentsTable th,
.engagamentsTable td {
  padding: 0.5rem 1rem;
}
.engagamentsTable th {
  font-size: 1rem;
  font-weight: 400;
  font-size: 13px;
}

.engagamentsTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.engagamentsTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.engagamentsTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.engagamentsTable tbody tr:last-of-type {
  border-bottom: 1px solid var(--darkGreen);
}

.engagamentsTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 14px;
}

.playerInfo {
  display: flex;
  gap: 1rem;
}
.basicInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.playerImage {
  height: 175px;
  border-radius: 1rem;
}

.playerMenuItemSelected {
  color: rgb(40, 54, 131);
  font-weight: bold;
}

.engagamentName {
  cursor: pointer;
}

.employment_teamName {
  cursor: pointer;
}

.modalContainer {
  max-width: 500px;
  min-width: 94vw;
  height: 94vh;
  padding-bottom: 1rem;
  z-index: 51;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.style {
  background-color: white;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.closeModalButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(219, 218, 218);
  color: rgb(67, 67, 67);
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.3rem;
}
.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dateFilterInputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dateSpan {
  min-width: 40px;
}
.dateFilterInput {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 650px) {
  .modalContainer {
    max-width: 500px;
    min-width: 20vw;
    height: 70vh;
    padding-bottom: 1rem;
    z-index: 51;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 650px) {
  .playerImage {
    width: 100px;
    height: 120px;
    border-radius: 1rem;
  }
}
.imgNameColumn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.tableFlag {
  width: 20px;
  height: 18px;
}
.flagImage {
  width: 23px;
  height: 16px;
}
.playerCountry {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
