.countrySelectContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.optionContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.optionImage {
  width: 30px;
  height: 20px;
}

.select {
  width: 100%;
}
